body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
  margin-top: 5px;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}

li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
  padding: 10px;
}

header p {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.hero {
  background-color: grey;
  padding: 100px 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

#flex-skills {
  margin: 0px 5%;
}

.flex {
  display: flex;
  width:100%;
}

#row {
  flex-direction: row;
  justify-content: space-between;
}

#column {
  flex-direction: column;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  padding:10px 0 10px 30px;
  border-radius: 10px;
  width: 300px;
}

#grid-skills {
  margin: 0px 5%;
}

.grid {
  display: grid;
  background-color: aqua;
  min-height: 700px;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "project-one project-one"
  "project-two project-three"
  ;
}

.wide-project {
  padding: 30px 0 0 50px;
}

.project1 {
  grid-area: project-one;
  background-color: brown;
}

.project2 {
  grid-area: project-two;
  background-color: yellow;
  padding: 30px 0 0 50px;
}

.project3 {
  grid-area: project-three;
  padding: 30px 0 0 50px;
}

button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  margin-top: 50px;
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}

@media only all and (max-width:1200px) {

  .skills {
    flex-direction: column!important;
  }

  .flex-item {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}